<section class="main">
    <div class="container">
        <h1>Part 2 . . .</h1>



        <section class="section">
            <div class="section__half">
                    {% include card.html image="/assets/images/img-2.webp" %}

                <br>
                   {% include card.html image="/assets/images/img-3.jpg" %}
                <br>

        
            </div>
            <div class="section__half">
                {% include text.html content="
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sunt corporis voluptatibus ea? 
                " %}
            </div>
        
        </section>

        <section class="section">
            <div class="section__half">
                {% include text.html content="
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sunt corporis voluptatibus ea? 

                " %}

            </div>
            <div class="section__half">
                {% include card.html image="/assets/images/img-1.webp" %}
            </div>
        
        </section>

        <section class="section">
            <div class="section__half">
                {% include card.html image="/assets/images/img-4.webp" %}



            </div>
            <div class="section__half">
                {% include text.html content="
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sunt corporis voluptatibus ea? 

                " %}
            </div>
        
        </section>

        <section class="section">
            <div class="section__half">
                {% include text.html content="
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis sunt corporis voluptatibus ea? 

                " %}

            </div>
            <div class="section__half">
            </div>
        
        </section>
    
    
    </div>    


</section>