<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>To her</title>
  <!-- Link to the external CSS file -->
  <link rel="stylesheet" href="/assets/css/styles.css">

  <!-- You can include additional meta tags, styles, or links here as needed -->

</head>

<body>
  <!-- Your page content goes here -->
  {% include header.html %}
  



  {% include main.html %}


  <!-- Link to the external JavaScript file -->
  {% include footer.html %}
  <script src="/assets/js/scripts.js"></script>

  <!-- You can include additional scripts or other elements here as needed -->

</body>

</html>
